<div class="seller_product_wrapper">
  <h1 class="addTitle">Add new product</h1>
  <h4 *ngIf="showMsg" class="successMessage">{{addProductMessage}}</h4>
  <form #addProduct="ngForm" (ngSubmit)="submitProduct(addProduct.value)" class="addProductForm">
    <div class="col">
      <div class="form__group">
        <label for="">Product Name</label>
        <input
          type="text"
          ngModel
          name="productName"
          placeholder="Enter product name"
        />
      </div>
      <div class="form__group">
        <label for="">Product Price</label>
        <input
          type="text"
          ngModel
          name="productPrice"
          placeholder="Enter product Price"
        />
      </div>
      <div class="form__group">
        <label for="">Product Description</label>
        <textarea
          type="text"
          ngModel
          name="productDescription"
          placeholder="Enter product Description"
        ></textarea>
      </div>
    </div>
    <div class="col">
      <div class="form__group">
        <label for="">Product Category</label>
        <input
          type="text"
          ngModel
          name="productCategory"
          placeholder="Enter product Category"
        />
      </div>
      <div class="form__group">
        <label for="">Product Color</label>
        <input
          type="text"
          ngModel
          name="productColor"
          placeholder="Enter product Color"
        />
      </div>
      <div class="form__group">
        <label for="">Product Image Url</label>
        <input
          type="text"
          ngModel
          name="productUrl"
          placeholder="Enter product Url"
        />
      </div>
      <button class="productBtn">Save</button>
    </div>
  </form>
</div>
