.seller_product_wrapper{
 width: 100vw;
 display: flex;
 /* justify-content: space-between; */
 align-items: center;
 height: 100vh;
 flex-direction: column;
}

.addTitle{
 font-family: sans-serif;
 color: #000;
 margin-bottom: 20px;
}
.addProductForm{
width: 70%;
border: 1px solid #fcfcfc;
background-color: #f4f4f4;
padding: 10px;
box-shadow: 0 0 5px #ccc;
display: flex;
justify-content: space-between;
}
.addProductForm .col{
 width: 49%;
}