<div class="productsPage">
 <h1 class="Heading">All Products</h1>

 <table>
  <thead>
   <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Category</th>
    <th>Color</th>
    <th>Price</th>
    <th>Description</th>
    <th>Actions</th>
   </tr>
  </thead>
  <tbody>
   <tr *ngFor="let item of productList">
    <td> <img src="{{item.productUrl}}" alt=""> </td>
    <td>{{item.productName}}</td>
    <td>{{item.productCategory}}</td>
    <td>{{item.productColor}}</td>
    <td>{{item.productPrice}}</td>
    <td>{{item.productDescription}}</td>
    <td><fa-icon class="delIcon" (click)="deleteItem(item.id)" [icon]="faTrash"></fa-icon>
     <a routerLink="/seller-edit-product/{{item.id}}"><fa-icon class="editIcon" [icon]="faEdit"></fa-icon></a>  </td>
   </tr>
  </tbody>
 </table>
</div>
