.seller__container{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 90vh;
}
.seller__container .signUp__form,.seller__container .login__form{
 width: 30%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border: 1px solid #fcfcfc;
 background-color: #f4f4f4;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 0 5px #ccc;
 /* margin-top: 40px; */
}
.seller__container h1{
 color: #ca6702;
 font-family: sans-serif;
}
.seller__container .seller_form{
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 width: 100%;
 
}
.seller__container .seller_form .form__group{
 display: flex;
 flex-direction: column;
}
.seller_form .form__group label{
 font-family: sans-serif;
 color: #ca6702;
}
.seller_form .form__group input{
 height: 30px;
 border: 1px solid #ca6702;
 margin: 5px 0 10px 0px;
 padding-left: 10px;
 color: #ca6702;
 border-radius: 3px;
}
.seller_form .form__group input:focus{
 outline: 1px solid #ca66029d;
}
.button_div{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.button_div span{
 font-family: sans-serif;
 color: rgb(63, 110, 219);
}
.button_div span:hover{
 text-decoration: underline;
 cursor: pointer;
}
.seller_form .sign_up_btn,.seller_form .login_btn{
 width: 30%;
 padding: 7px;
 border-radius: 5px;
 color: #fff;
 background-color: #ca6702;
 border: none;
 cursor: pointer;
 box-shadow: 0 0 5px #ca66029d;
}
.errorMsg{
 margin-top: 10px;
 color: #fb2e00;
 font-family: sans-serif;
}
